.place {
    display: grid;
    margin: 0 auto;
    gap: 40px;
    grid-template-columns: 460px 1fr;
    color: #fff;
}

@media screen and (max-width: 1279px) {
    .place {
    grid-template-columns: 440px 1fr;
}
}

@media screen and (max-width: 1023px) {
    .place { 
    grid-template-columns: 340px 1fr;
}
}

@media screen and (max-width: 767px) {
    .place { 
    max-width: 320px;
    grid-template-columns: 320px;
    gap: 32px;
}
}