.lead {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 148px;
    margin: 0 auto;
    color: #fff;
}

@media screen and (max-width: 1279px) {
    .lead {
        max-width: 928px;
        padding: 0 48px;
    }
}

@media screen and (max-width: 1023px) {
    .lead {
        max-width: 768px;
        padding: 0px;
    }
}

@media screen and (max-width: 767px) {
    .lead {
        max-width: 320px;
        padding: 0px;
    }
}
