.cover__subtitle {
    margin: 0;
    font-size: 18px;
    line-height: 101%;
    font-weight: normal;
    max-width: 360px;
    text-align: center;
    }
    
    @media screen and (max-width: 767px) {
        .cover__subtitle  { 
        font-size: 14px;
        line-height: 94%;
        max-width: 288px;
    }
    }