.place__paragraphs {
    display: flex;
    gap: 26px;
    flex-direction: column;
    padding: 0;
    margin: 0;
    max-width: 484px;
}

@media screen and (max-width: 1023px) {
    .place__paragraphs {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraphs {
        padding-left: 16px;
        padding-right: 16px;
    }
}
