.place__title {
    margin: 0;
    padding: 0;
    font-size: 72px;
    line-height: 87%;
    font-weight: 900;
    }
          
@media screen and (max-width: 1023px) {
    .place__title { 
    font-size: 42px;
    line-height: 90%;
    max-width: 340px;
}
}    

@media screen and (max-width: 767px) {
    .place__title { 
    font-size: 32px;
    line-height: 90%;
    max-width: 288px;
    padding-left: 16px;
    padding-right: 16px;
}
}