.footer__copyright {
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 14px;
    line-height: 94%;
    font-weight: 400;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 83%;
        padding-top: 48px;
    }
}
