.intro {
    max-width: 690px;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 92px 442px 92px 148px;
    margin: 0 auto;
    color: #fff;
}

@media screen and (max-width: 1279px) {
    .intro {
        padding: 92px 286px 92px 48px;
    }
}

@media screen and (max-width: 1023px) {
    .intro {
        max-width: 720px;
        padding: 88px 24px 88px 24px;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        max-width: 288px;
        padding: 64px 16px 64px 16px;
    }
}
