.lead__subtitle {
    margin: 0 auto;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    max-width: 640px;
    padding-bottom: 64px;
    line-height: 99%;
}

@media screen and (max-width: 1279px) {
    .lead__subtitle {
        padding-bottom: 56px;
    }
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 125%;
        max-width: 288px;
        padding-bottom: 40px;
        line-height: 103%;
    }
}
