.cover__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(0deg, rgba(42, 44, 47, 0.3), rgba(42, 44, 47, 0.3)), url("../../../images/cover-trains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto 92px;
    color: #fff;
    min-height: 740px;
    max-width: 1184px;
    text-decoration: none;
}

.cover__overlay:hover {
    background-image: linear-gradient(0deg, rgba(42, 44, 47, 0.8), rgba(42, 44, 47, 0.8)), url("../../../images/cover-trains.jpg");
}

@media screen and (max-width: 1279px) {
    .cover__overlay {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__overlay {
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__overlay {
        max-width: 320px;
        min-height: 220px;
        margin: 0 auto 64px;
    }
}
