.lead__caption {
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    text-align: start;
    margin: 0;
}

@media screen and (max-width: 1023px) {
    .lead__caption {
        max-width: 768px;
        padding-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .lead__caption {
        max-width: 320px;
    }
}
