.footer {
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    padding: 0 48px 24px 48px;
    margin: 0 auto;
    color: #fff;
    align-items: center;
}

@media screen and (max-width: 1279px) {
    .footer {
    max-width: 928px;
}
}

@media screen and (max-width: 1023px) {
    .footer { 
    max-width: 720px;
}
}

@media screen and (max-width: 767px) {
    .footer { 
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding: 0 118px 24px 16px;
}
}